/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définition des couleurs */
:root {
    --primary-color: #2c3e50;
    --text-color: #333;
    --accent-color: #e74c3c;
    --background-color: #ffffff;
}

/* Corps de la page */
html, body {
    height: 100%; /* Prendre toute la hauteur de l'écran */
    display: flex;
    flex-direction: column; /* Positionner les éléments en colonne */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    flex: 1; /* Prendre toute la hauteur disponible */
}

/* En-tête */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

/* Section principale */
section {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--background-color);
    border-radius: 8px;
}

/* Style pour les films */
.movie-card {
    background-color: #e2e2e2;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Place le footer en bas de la page */
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}
